# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\My Drive\Teaching\DHCS\DHCS-2021\Bakeoffs\01\BakeOffOne\PointingBakeOffCode3\IntelliJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
